@model IndexViewModel

@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<p>SELECT</p>

<a class="btn btn-primary" role="button" asp-action="Create">Create new product</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>


        @{
            if (Model != null && Model.Products != null)
            {
                for (int i = 0; i < Model.Products.Count; i++)
                {
                <tr>
                    <th scope="row">@Model.Products[i].ID</th>
                    <td>@Model.Products[i].Name</td>
                    <td>@Model.Products[i].Category</td>
                    <td> <a asp-action="Edit" asp-route-ID="@Model.Products[i].ID">Edit</a> </td>
                    <td> <a asp-action="Delete" asp-route-ID="@Model.Products[i].ID" onclick="return ConfirmDelete();">Delete</a> </td>
                </tr>
                    }
                }
            }
    </tbody>
</table>

@section Scripts
{ 
    <script src="~/js/Alerts.js"></script>

}